@import "tailwindcss";

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans/Parkinsans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans/Parkinsans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans/Parkinsans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans/Parkinsans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans/Parkinsans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Parkinsans', sans-serif;
  background-color: #0f172a;
  scroll-behavior: smooth;
}